* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(217, 54%, 11%);
}

.container {
  background: hsl(216, 50%, 16%);
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 1.4rem;
  position: relative;
  box-shadow: 3px 17px 12px 14px rgba(0, 0, 0, 0.2);
} /* Até aqui apenas estilização do container */

.firstimg {
  position: relative;
  overflow: hidden;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainimg {
  width: 100%;
  position: relative;
  transition: opacity 0.3s ease;
}

.icon {
  position: absolute;
  opacity: 0;
  border-radius: 1rem;
  z-index: 2;
  transition: opacity 0.2s;
}

.title {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  display: grid;
  padding: 1.2rem 0px;
}

.paragraph,
.time,
.creator {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.paragraph {
  padding-bottom: 1.2rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1.2rem;
}

.eth {
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 600;
}

.time {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.line {
  border-bottom: 1px groove hsl(215, 32%, 27%);
  width: 100%;
}

.creator {
  padding-top: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.7rem;
  font-weight: 400;
}

.creator img {
  max-width: 12%;
  border: 1px solid white;
  border-radius: 100%;
}

.creatorname {
  color: white;
}

.attribution {
  position: absolute;
  bottom: 0;
}
/* Espaço separado para hover */

/* Este primeiro altera apenas os textos escritos 
para que fiquem conforme exigido no projeto */
.title:hover,
.creatorname:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

/* Selecionamos a div firstimg que é o pai dos outros
elementos, através dela fazemos o EFEITO hover, ativando
a cor do background e mudando a opacidade, mostrando assim
o icone esperado de acordo com o projeto */

.firstimg::before {
  content:"";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.firstimg:hover::before {
  background-color: cyan;
  opacity: 0.5;
}

.firstimg:hover .icon {
  opacity: 1;
}